.fontweight-default-style {
  p {
    font-family: NanumSquare;
    margin-bottom: 20px;
  }
}
.font-weight-100 {
  font-weight: 100;
}
.font-weight-400 {
  font-weight: 400;
}
.font-weight-700 {
  font-weight: 700;
}
.font-weight-900 {
  font-weight: 900;
}
