.background-image-contain {
  color: white;
  padding: 200px;
  background-image: url('../../../assets/images/panorama_1.png');
  border: 1px solid blue;
  background-repeat: no-repeat;
  background-size: contain;
}
