@import './styles/grid';

#root {
    max-width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 150px;
    background: white;
    // Box Shadow
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset; 
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}

.home {
    padding: 0 20px;
}
* {
    font-family: 'NanumSquare';
}
h1, h2, h3, h4, h5 {
    font-family: 'NanumSquare';
    font-weight: 700;
}
p, span {
    font-family: 'NanumSquare';
}
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    #root {
        margin-top: 0;
    }
}