.box-default-style {
  background: tomato;
  color: white;
  padding: 50px;
  width: 200px;
  height: 200px;
}
.border-radius {
  border-radius: 10px;
}
.border-radius-30 {
  border-radius: 30px;
}
.border-radius-50p {
  border-radius: 50%;
}
